
<form [formGroup]="loginForm"  (ngSubmit)="login()"   >
<div>
    <label>Username</label>
    <input placeholder="Enter Username" formControlName="username" />
</div>
<div  *ngIf="loginForm.controls['username']?.errors?.['required']" class="text-danger"> username cannot be empty</div>
<div *ngIf="loginForm.controls['username']?.errors?.['email']" class="text-danger"> username must be an email</div>
<div>
    <label>Password</label>
    <input  type= "password" placeholder="Enter Password" formControlName="password" />
</div>
<div *ngIf="loginForm.controls['password']?.errors?.['required']" class="text-danger"> password cannot be empty</div>
<div *ngIf="loginForm.controls['password']?.errors?.['minlength']" class="text-danger"> password length must be greater than 6</div>
<button type="submit" >Login</button>

</form>
